<div class="navbar navbar-fixed-bottom navbar-full-custom" role="navigation" style="padding:0 15px;" id="footer-navigation">
    <div class="container-full" style="position: absolute;bottom: 0;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <a class="btn btn-default navbar-btn btn-block btn-lg"  id="trigger-orders">
                    <span class="glyphicon glyphicon-search"></span> Orders
                </a>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <button type="button" id="checkout-button" class="btn btn-success btn-block navbar-btn action-checkout notSelectable btn-lg">Checkout $<span id="cart-total">0</span> <span id="cart-items" class="items">0</span> </button>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
                <button type="button" class="btn btn-default btn-block navbar-btn btn-lg notSelectable needsclick" id="trigger-settings">
                    <span class="glyphicon glyphicon-cog"></span> <span id="user-menu-container">User</span>
                </button>
            </div>
        </div> 
    </div>
</div>