<div class="container min-spacer container-full">
    <div class="panel panel-default">
        <div class="panel-body">


            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div id="product-container">

                        <div id="product-floated">

                            {% include 'page-home/parts/rightControllers.html.twig' %}

                        </div>

                        <div id="product-content">

                            {% include 'page-home/parts/topControllers.html.twig' %}
                            <div class="row relative" id="list-products">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 products-items-list" id="swiper-height-relative">
                                    <div class="swiper-container" id="swiper">
                                        <div class="swiper-wrapper">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>