<div class="container min-spacer container-full hide" id="in-call-status-bar-container">
    <div class="well well-lg" id="in-call-status-bar">
        <div class="pull-left">
            <span class="glyphicon glyphicon-earphone topcall-cell-icon" id="blink_me"></span>
        </div>
        <div class="pull-left">
            <span id="caller-info"></span>
            <span id="caller-number"></span>
        </div>
        <div class="pull-left">
            <span id="caller-number-big"></span>
        </div>
        <button class="btn pull-right btn-lg btn-danger" id="topcall-dismiss">Dismiss</button>
        <button class="btn pull-right btn-lg btn-primary" id="topcall-get" style="margin-right:20px;">Get call</button>
        <div class="clearfix"></div>
    </div>

</div>