<div id="sidr-categories" class="side-menu">
    <!-- Your content -->
    <div id="sidr-categories-table-list">
        <!--<h4>Categories</h4>
		-->

        <ul id="sidr-categories-content">
        </ul>
    </div>

    <!--<button class="btn btn-danger btn-block btn-close-sidr-left" data-target="categories">Close</button>
	-->
</div>