<!-- Modal -->
<div class="modal fade" id="modal-order-note" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="modal-order-note-textarea">Note</label>
                    <textarea id="modal-order-note-textarea" class="form-control" rows="3" placeholder="Insert order notes here"></textarea>
                </div>
            </div>

            <div id="park-order-table-list-html" class="text-center"></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-primary" id="modal-order-note-save">Save</button>
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
