<div class="alpha-slider-container">
    <div class="alpha-scroll">
        <span>#</span>
        <span>a</span>
        <span>b</span>
        <span>c</span>
        <span>d</span>
        <span>e</span>
        <span>f</span>
        <span>g</span>
        <span>h</span>
        <span>i</span>
        <span>j</span>
        <span>k</span>
        <span>l</span>
        <span>m</span>
        <span>n</span>
        <span>o</span>
        <span>p</span>
        <span>q</span>
        <span>r</span>
        <span>s</span>
        <span>t</span>
        <span>u</span>
        <span>v</span>
        <span>w</span>
        <span>x</span>
        <span>y</span>
        <span>z</span>
    </div>
    <input id="alpha-scroll" value="0" data-slider-min="0" data-slider-max="27" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical" data-slider-selection="after" data-slider-tooltip="hide" />
</div>
<button type="button" id="arrow-left" class="btn btn-primary btn-lg mbot10" onclick='mySwipe.swipePrev()'><span class="glyphicon glyphicon-arrow-left"></span></button>
<div class="clearfix"></div>
<button type="button" id="arrow-right" class="btn btn-primary btn-lg" onclick='mySwipe.swipeNext()'><span class="glyphicon glyphicon-arrow-right"></span></button>