<div class="row" id="category_and_search_buttons">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id = "categories_button">
        <a class="btn btn-default btn-block"  id="trigger-categories">All Categories</a>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top:5px;" id = "search_button">
        <div class="input-group" id="search_field_all">
            <input type="text" class="form-control" placeholder="Search..." id="search-control" style="-webkit-user-select: auto;">
            <span class="input-group-btn">
                {#<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span> </button>#}
                <button class="btn btn-danger" type="button" id="hide_search_control"> X </button>
                <button class="btn btn-default" type="button" id="hide_keyboard_control"><span class="glyphicon glyphicon-arrow-down"></span> </button>
                {#<button class="btn btn-danger" type="button" id="search-control-delete"><span class="glyphicon glyphicon-arrow-left"></span> </button>#}
                
                
           </span>
        </div>
    </div>
</div>
<hr>